<header-cmp>Loading...</header-cmp>
<div class="clearfix"> </div>
<!-- BEGIN CONTAINER -->
<div class="page-container">
    <!-- Sidebar -->
    <sidebar>Loading...</sidebar>
    <div class="page-content-wrapper">
        <!-- BEGIN CONTENT BODY -->
        <dashboard-cmp>Loading...</dashboard-cmp>
    </div>
    <!-- BEGIN QUICK SIDEBAR -->
    <a href="javascript:;" class="page-quick-sidebar-toggler">
        <i class="icon-login"></i>
    </a>
    <quick-sidebar-cmp></quick-sidebar-cmp>
</div>
<!-- END CONTAINER -->
<!-- BEGIN FOOTER -->
<div class="page-footer">
    <div class="page-footer-inner"> &copy; 2017</div>
    <div class="scroll-to-top">
        <i class="icon-arrow-up"></i>
    </div>
</div>
<!-- END FOOTER -->
